# android stdio
/.gradle/
/.idea/libraries/
.idea/*
.idea
/build/
/app/build/
/capturess

bin/
gen/
proguard/

/gradle.properties
/local.properties
.classpath
.project

*.iml
*.apk
*.ap_
*.dex
*.class
*.ipr
*.iws

.idea/*.xml
.idea/gradle.xml
.idea/runConfigurations/*.xml
app/product/
app/staging/
